body{
    background-image: linear-gradient(#7fffd4, #80d0c7);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(#7fffd4, #80d0c7);
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color:#4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #78d07c;
}
#submitbutton{
    margin-top: 2%;
}
.success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}