<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>HTML hoạt động như thế nào? Ưu điểm và nhược điểm của HTML
        </title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <link href="static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="static/css/main.css" rel="stylesheet">

    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/home">
                        <!--i class="bi-back"></!--i-->
                        <span style="color:white;">WeLearnCode</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        <a href="/logout" class="smoothscroll" style="padding-left: 10px; font-weight: bolder">Đăng xuất</a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <!-- <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Khoá học</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Luyện tập</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Về chúng tôi</a>
                            </li>

                            
                            
                        </ul> -->

                        
                        <div class="d-none d-lg-block">
                            <a href="" class="navbar-icon bi-person smoothscroll"></a>
                            <a href="/logout" class="smoothscroll" style="padding-left: 10px; font-weight: bolder">Đăng xuất</a>
                            
                        </div>
                    </div>
                </div>
            </nav>
            
            <!-- ĐẦU -->
            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Giới thiệu về HTML</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">HTML hoạt động như thế nào? Ưu điểm và nhược điểm của HTML</h2>

                            <div class="d-flex align-items-center mt-5">
                                <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Đọc ngay</a>

                                <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="static/images/HTML0.png" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- NỘI DUNG -->
            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 m-auto">
                            <h3 class="mb-4">1. HTML hoạt động như thế nào?</h3>
                            
                            <blockquote>
                                <em><strong>HTML viết tắt của Hypertext Markup Language là ngôn ngữ lập trình dùng để xây dựng và cấu trúc lại các thành phần có trong Website</strong></em>
                            </blockquote>

                            <p><strong>HTML</strong> bao gồm một loạt các mã ngắn được quản trị viên trang web nhập vào một tệp văn bản - gọi là các tag. Một HTML document khi hoàn thiện sẽ được lưu dưới dạng đuôi .html hay .htm.  Các files này sau đó sẽ được các trình duyệt web như Internet Explorer, Google Chrome, Safari đọc hiểu nội dung và chuyển chúng sang dạng văn bản hiển thị để người dùng có thể xem được nó.</p>

                            <div class="row my-4">
                                <div class="col-lg-7 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="static/images/HTML3.jpg" class="newsletter-image img-fluid">
                                </div>

                                <div class="col-lg-5 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="static/images/HTML4.jpg" class="topics-detail-block-image img-fluid">
                                </div>
                            </div>

                            <p>Mỗi<strong> website</strong> thường chứa nhiều trang web HTML, chẳng hạn như: trang chủ, trang liên hệ, trang tuyển dụng,...</p>
                            <p>Mỗi web page được tạo thành từ một loạt các thẻ HTML hay còn được gọi là  "element" biểu thị từng loại nội dung trên trang như thẻ header, thẻ title, thẻ body,...</p>
                            <p>Hầu hết các thẻ HTML này có cấu trúc &lt;tagname&gt;&lt;/tagname&gt; với một tag mở và một tag đóng.</p>
                            
                            <br>
                            <br>
                            <h3 class="mb-4">2. Ưu điểm của HTML là gì?</h3>
                            
                            <p><strong>HTML </strong>được sử dụng để tạo bố cục, cấu trúc trang web. Nó có một số ưu điểm sau:</p>

                            <ul><li>Có nhiều tài nguyên hỗ trợ với cộng đồng người dùng vô cùng lớn<li>Có thể hoạt động mượt mà trên hầu hết mọi trình duyệt hiện nay</li><li>Học HTML khá đơn giản</li><li>Các markup sử dụng trong HTML thường ngắn gọn, có độ đồng nhất cao</li><li>Sử dụng mã nguồn mở, hoàn toàn miễn phí</span></li><li style="font-weight: 400"><span style="font-weight: 400">HTML là chuẩn web được vận hành bởi W3C</span></li><li style="font-weight: 400"><span style="font-weight: 400">Dễ dàng để tích hợp với các loại ngôn ngữ backend (ví dụ như: PHP, Node.js,…)</span></li></ul>
                            
                            <br>
                            <br>
                            <h3 class="mb-4">3. Nhược điểm của HTML là gì?</h3>
                            <p>Bên cạnh ưu điểm, <strong>HTML </strong>cũng có các nhược điểm nhất định. Cụ thể như sau:</p>

                            <ul><li><span style="font-weight: 400">Chỉ được áp dụng chủ yếu cho web tĩnh. Nếu muốn tạo các tính năng động, lập trình viên phải dùng thêm JavaScript hoặc ngôn ngữ backend của bên thứ 3 (ví dụ như: PHP)</span></li><li><span style="font-weight: 400">Mỗi trang <strong>HTML</strong> cần được tạo riêng biệt, ngay có khi có nhiều yếu tố trùng lặp như header, footer.</span></li><li><span style="font-weight: 400">Khó để kiểm soát cách đọc và hiển thị file HTML của trình duyệt (ví dụ, một số trình duyệt cũ không render được tag mới. Do đó, dù trong HTML document có sử dụng các tag này thì trình duyệt cũng không đọc được).</span></li><li><span style="font-weight: 400">Một vài trình duyệt còn chậm cập nhật để hỗ trợ tính năng mới của HTML</span></li></ul>
                            
                            <br>
                            <br>
                            <h3 class="mb-4">4. Các thuật ngữ HTML thường được sử dụng</h3>
                            
                            <div class="row my-4">
                                <div class="col-lg-99 col-13">
                                    <img src="static/images/HTML5.jpg" class="newsletter-image img-fluid">
                                </div>
                            </div>

                            <p>Dưới đây là một số thuật ngữ HTML thường gặp mà bạn cần nắm rõ để việc sử dụng trở nên thuận tiện và dễ dàng hơn:</p>
                            <br>
                            <h3 style="text-align: justify;" id="bhtml-documentb"><b>HTML document</b></h3>

                            <p>HTML document hay tài liệu HTML là một tập tin có đuôi mở rộng dạng .htm hoặc .html và được tạo nên từ nhiều phần tử HTML.</p>
                            <p>Mỗi một HTML document hoàn chỉnh sẽ đại diện cho một web page và cần tuân thủ theo một cấu trúc nhất định.</p>

                            <br>
                            <h3 style="text-align: justify;" id="bhtml-documentb"><b>HTML tag</b></h3>

                            <p style="text-align: justify;"><span >HTML tag hay thẻ HTML thường có cấu trúc dạng: <strong><em>&lt;tagname&gt;...&lt;/tagname&gt;</em></strong></span></p>

                            <p style="text-align: justify;"><span >Mỗi một <em><strong>&lt;tagname&gt;</strong></em> hoặc <strong><em>&lt;/tagname&gt;</em></strong> này được gọi là một thẻ HTML. Mỗi thẻ HTML có nhiệm vụ đánh dấu cho một loại phần tử nhất định trên trang web.</span></p>

                            <p style="text-align: justify;"><span >Trong đó:</span></p>

                            <ul> <li style="text-align: justify;"><span >Thẻ HTML dạng <strong><em>&lt;tagname&gt;</em></strong> (không có ký tự /) được gọi là <strong><em>thẻ m</em><em>ở</em></strong>, là thẻ được sử dụng để bắt đầu việc đánh dấu một phần tử nào đó.</span></li> <li style="text-align: justify;"><span >Thẻ HTML dạng <strong><em>&lt;/tagname&gt;</em></strong> (có chứa ký tự /) được gọi là <strong><em>thẻ đóng,</em></strong> là thẻ dùng dể đánh dấu kết thúc cho một phần tử nào đó.</span></li> </ul>

                            <p style="text-align: justify;"><span >Tuy nhiên, một số thẻ HTML chỉ có thẻ mở mà không có thẻ đóng, chẳng hạn thẻ &lt;br&gt; dùng để đánh dấu một phần tử xuống dòng.</span></p>


                            <br>
                            <h3 style="text-align: justify;" id="bhtml-documentb"><b>HTML attribute</b></h3>

                            <p style="text-align: justify;"><span >HTML attribute hay thuộc tính HTML là những tùy chỉnh đối với các thẻ trong HTML và chúng luôn nằm trong các thẻ mở, có dạng như sau:</span></p>

                            <p style="text-align: justify;"><em><strong>&lt;tagname attribute1="..." attribute2="..."&gt;....&lt;/tagname&gt;</strong></em></p>

                            <p style="text-align: justify;"><span >Ví dụ:</span></p>
                            <table border="0" cellpadding="0" cellspacing="0"> <tbody> <tr> <td class="gutter"> <div class="line number1 index0 alt2">1</div></td> <td class="code"> <div class="container"> <div class="line number1 index0 alt2"><code class="xml plain">&lt;</code><code class="xml keyword">font</code> <code class="xml color1">color</code><code class="xml plain">=</code><code class="xml string">"red"</code><code class="xml plain">&gt;Dòng chữ này sẽ có màu đỏ&lt;/</code><code class="xml keyword">font</code><code class="xml plain">&gt;</code></div> </div></td> </tr> </tbody> </table>
                            <br>
                            <p style="text-align: justify;"><span ><strong><em>Color</em></strong> được coi là một thuộc tính trong <strong><em>thẻ &lt;font&gt;</em> </strong>được sử dụng để định dạng màu sắc cho văn bản, những thuộc tính tương tự như color nằm trong thẻ &lt;font&gt; trên được gọi là <strong><em>HTML attribute</em></strong> (thuộc tính HTML).</span></p>

                            <p style="text-align: justify;"><span ><em><strong>Lưu ý</strong></em>: Một số thuộc tính có thể được sử dụng cho nhiều thẻ khác nhau, nhưng cũng có những thuộc tính chỉ dành cho một số thẻ nhất định. Một số thẻ bắt buộc phải có thuộc tính nào đó, ngược lại, một số thẻ có thể có hoặc không có những thuộc tính này.</span></p>

                            <br>
                            <h3 style="text-align: justify;" id="bhtml-documentb"><b>HTML element</b></h3>

                            <span >HTML element hay phần tử HTML là tất cả những gì bắt đầu từ thẻ mở cho đến thẻ đóng.</span>

                            <p style="text-align: justify;"><span >Ví dụ:</span></p>
                            <table border="0" cellpadding="0" cellspacing="0"> <tbody> <tr> <td class="gutter"> <div class="line number1 index0 alt2">1</div></td> <td class="code"> <div class="container"> <div class="line number1 index0 alt2"><code class="xml plain">&lt;</code><code class="xml keyword">p</code><code class="xml plain">&gt;Đây là một phần tử HTML, bao gồm cả thẻ mở và thẻ đóng nhé&lt;/</code><code class="xml keyword">p</code><code class="xml plain">&gt;</code></div> </div></td> </tr> </tbody> </table>
                            <br>
                            <p style="text-align: justify;"><span >Đối với <strong><em>thẻ HTML không có thẻ đóng</em></strong> thì chúng được coi như một <em><strong>phần tử rỗng</strong></em>.</span></p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- LIÊN HỆ -->
            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-5 col-12">
                            <img src="static/images/rear-view-young-college-student.jpg" class="newsletter-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <h4 class="mb-4 pb-2">Nhận thông báo từ chúng tôi</h4>

                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Địa chỉ Email của bạn" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control" onclick="window.location.href='/home'">Xác nhận</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </main>
		
        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <i class="bi-back"></i>
                            <span>Topic</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                305-240-9671
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Thai</button></li>

                                <li><button class="dropdown-item" type="button">Myanmar</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </div>

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
                        
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery.sticky.js"></script>
        <script src="static/js/custom.js"></script>

    </body>
</html>
