<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Giới thiệu về HTML</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <link href="static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="static/css/main.css" rel="stylesheet">

    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/home">
                        <!--i class="bi-back"></!--i-->
                        <span style="color:white;">WeLearnCode</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        <a href="/logout" class="smoothscroll" style="padding-left: 10px; font-weight: bolder">Đăng xuất</a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <!-- <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Khoá học</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Luyện tập</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Về chúng tôi</a>
                            </li>

                            
                            
                        </ul> -->

                        
                        <div class="d-none d-lg-block">
                            <a href="" class="navbar-icon bi-person smoothscroll" style="cursor: auto;"></a>
                            <a href="/logout" class="smoothscroll" style="padding-left: 10px; font-weight: bolder">Đăng xuất</a>
                            
                        </div>
                    </div>
                </div>
            </nav>
            
            <!-- ĐẦU -->
            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Giới thiệu về HTML</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">HTML là gì</h2>

                            <div class="d-flex align-items-center mt-5">
                                <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Đọc ngay</a>

                                <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="static/images/HTML0.png" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- NỘI DUNG -->
            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 m-auto">
                            <h3 class="mb-4">1. HTML là gì?</h3>
                            
                            <blockquote>
                                <em><strong>HTML viết tắt của Hypertext Markup Language là ngôn ngữ lập trình dùng để xây dựng và cấu trúc lại các thành phần có trong Website</strong></em>
                            </blockquote>

                            <p><strong>HTML</strong> tạm dịch là ngôn ngữ đánh dấu siêu văn bản. Người ta thường sử dụng HTML trong việc phân chia các đoạn văn, heading, links, blockquotes,…</p>

                            <div class="row my-4">
                                <div class="col-lg-99 col-13">
                                    <img src="static/images/HTML.png" class="newsletter-image img-fluid">
                                </div>

                                <!-- <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="static/images/colleagues-working-cozy-office-medium-shot.jpg" class="topics-detail-block-image img-fluid">
                                </div> -->
                            </div>

                            <p>Một Website thường chứa nhiều trang con và mỗi trang con này lại có một tập tin HTML riêng. Lưu ý, HTML không phải là ngôn ngữ lập trình. Điều này có nghĩa là nó không thể thực hiện các chức năng “động”. Hiểu một cách đơn giản hơn, cũng tương tự như phần mềm Microsoft Word, HTML chỉ có tác dụng bố cục và định dạng trang web. <strong>HTML </strong>khi kết hợp với <strong>CSS </strong>và <strong>JavaScript </strong>sẽ trở thành một nền tảng vững chắc cho thế giới mạng.</p>
                            
                            <br>
                            <br>
                            <h3 class="mb-4">2. Lịch sử HTML</h3>
                            
                            <div class="row my-4">
                                <div class="col-lg-99 col-13">
                                    <img src="static/images/HTML history.png" class="newsletter-image img-fluid">
                                </div>
                            </div>

                            <p><strong>HTML</strong> được tạo ra bởi Tim Berners-Lee, một nhà vật lý học của trung tâm nghiên cứu CERN ở Thụy Sĩ. Hiện nay, HTML đã trở thành một chuẩn Internet được tổ chức W3C (World Wide Web Consortium) vận hành và phát triển. Bạn có thể tự tìm kiếm tình trạng mới nhất của HTML tại bất kỳ thời điểm nào trên Website của W3C.</p>
                            <p>Phiên bản đầu tiên của <strong>HTML</strong> xuất hiện năm 1991, gồm 18 tag HTML. Phiên bản HTML 4.01 được xuất bản năm 1999. Sau đó, các nhà phát triển đã thay thế HTML bằng XHTML vào năm 2000.</p>
                            <p>Đến năm 2014, HTML được nâng cấp lên chuẩn HTML5 với nhiều tag được thêm vào markup, mục đích là để xác định rõ nội dung thuộc loại là gì (ví dụ như: article, header, footer,…).</p>
                            <p><strong>Theo Mozilla Developer Network</strong> thì <strong>HTML Element Reference</strong> hiện nay có khoảng <strong>hơn 140 tag</strong>. Tuy nhiên một vài tag trong số đó đã bị tạm ngưng (do không được hỗ trợ bởi các trình duyệt hiện hành).</p>
                            
                            <br>
                            <h3 class="mb-4">3. HTML hoạt động như thế nào?</h3>

                            <p><strong>HTML</strong> bao gồm một loạt các mã ngắn được quản trị viên trang web nhập vào một tệp văn bản - gọi là các tag. Một HTML document khi hoàn thiện sẽ được lưu dưới dạng đuôi .html hay .htm.  Các files này sau đó sẽ được các trình duyệt web như Internet Explorer, Google Chrome, Safari đọc hiểu nội dung và chuyển chúng sang dạng văn bản hiển thị để người dùng có thể xem được nó.</p>

                            <div class="row my-4">
                                <div class="col-lg-7 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="static/images/HTML3.jpg" class="newsletter-image img-fluid">
                                </div>

                                <div class="col-lg-5 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="static/images/HTML4.jpg" class="topics-detail-block-image img-fluid">
                                </div>
                            </div>

                            <p>Mỗi<strong> website</strong> thường chứa nhiều trang web HTML, chẳng hạn như: trang chủ, trang liên hệ, trang tuyển dụng,...</p>
                            <p>Mỗi web page được tạo thành từ một loạt các thẻ HTML hay còn được gọi là  "element" biểu thị từng loại nội dung trên trang như thẻ header, thẻ title, thẻ body,...</p>
                            <p>Hầu hết các thẻ HTML này có cấu trúc &lt;tagname&gt;&lt;/tagname&gt; với một tag mở và một tag đóng.</p>
                            
                            <br>
                            <br>
                            <h3 class="mb-4">4. Ưu điểm của HTML là gì?</h3>
                            
                            <p><strong>HTML </strong>được sử dụng để tạo bố cục, cấu trúc trang web. Nó có một số ưu điểm sau:</p>

                            <ul><li>Có nhiều tài nguyên hỗ trợ với cộng đồng người dùng vô cùng lớn<li>Có thể hoạt động mượt mà trên hầu hết mọi trình duyệt hiện nay</li><li>Học HTML khá đơn giản</li><li>Các markup sử dụng trong HTML thường ngắn gọn, có độ đồng nhất cao</li><li>Sử dụng mã nguồn mở, hoàn toàn miễn phí</span></li><li style="font-weight: 400"><span style="font-weight: 400">HTML là chuẩn web được vận hành bởi W3C</span></li><li style="font-weight: 400"><span style="font-weight: 400">Dễ dàng để tích hợp với các loại ngôn ngữ backend (ví dụ như: PHP, Node.js,…)</span></li></ul>
                            
                            <br>
                            <br>
                            <h3 class="mb-4">5. Nhược điểm của HTML là gì?</h3>
                            <p>Bên cạnh ưu điểm, <strong>HTML </strong>cũng có các nhược điểm nhất định. Cụ thể như sau:</p>
    
                            <ul><li><span style="font-weight: 400">Chỉ được áp dụng chủ yếu cho web tĩnh. Nếu muốn tạo các tính năng động, lập trình viên phải dùng thêm JavaScript hoặc ngôn ngữ backend của bên thứ 3 (ví dụ như: PHP)</span></li><li><span style="font-weight: 400">Mỗi trang <strong>HTML</strong> cần được tạo riêng biệt, ngay có khi có nhiều yếu tố trùng lặp như header, footer.</span></li><li><span style="font-weight: 400">Khó để kiểm soát cách đọc và hiển thị file HTML của trình duyệt (ví dụ, một số trình duyệt cũ không render được tag mới. Do đó, dù trong HTML document có sử dụng các tag này thì trình duyệt cũng không đọc được).</span></li><li><span style="font-weight: 400">Một vài trình duyệt còn chậm cập nhật để hỗ trợ tính năng mới của HTML</span></li></ul>
                        </div>
                    </div>
                </div>
            </section>


            <!-- LIÊN HỆ -->
            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-5 col-12">
                            <img src="static/images/rear-view-young-college-student.jpg" class="newsletter-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <h4 class="mb-4 pb-2">Nhận thông báo từ chúng tôi</h4>

                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Địa chỉ Email của bạn" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control" onclick="window.location.href='/home'">Xác nhận</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </main>
		
        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <i class="bi-back"></i>
                            <span>WeLearnCode</span>
                        </a>
                    </div>

                    <!--div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </!--div-->

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                1900-1508
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                abc1234@gmail.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <!--div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Thai</button></li>

                                <li><button class="dropdown-item" type="button">Myanmar</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </!--div-->

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © Group 3. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">Group 3</a></p>
                        
                    </div>


                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery.sticky.js"></script>
        <script src="static/js/custom.js"></script>

    </body>
</html>