<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trắc nghiệm môn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thitracnghiem.css') }}">
</head>
<body>
  
        <div id="question-container"></div>
        <button id="submit-btn">Submit</button>
        <div id="result"></div>
        <script src="{{ url_for('static', filename='js/thitracnghiem.js') }}"></script>
      
    
</body>
</html>
